<!DocType HTML>

<HTML>
	<Head>
		<Meta Charset = "UTF-8" />
		<Title>MastodonRater</Title>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<Script Src = "https://www.googletagmanager.com/gtag/js?id=UA-88656260-3" Async></Script>
		<Script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  
		  gtag('config', 'UA-88656260-3');
		</Script>

		<Script Src = "main.js"></Script>
	</Head>

	<Body>
		<!--
			location.href.replace(location.search, "") + "token"
		-->
	</Body>
</HTML>