<!DocType HTML>

<HTML>
	<Head>
		<Meta Charset = "UTF-8" />
		<Meta Name = "Viewport" Content = "Width=Device-Width, Initial-Scale=1, User-Scalable=No" />
		<Title>MastodonRater</Title>
		<Link Rel = "Shortcut Icon" Href = "favicon.ico" />

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<Script Src = "https://www.googletagmanager.com/gtag/js?id=UA-88656260-4" Async></Script>
		<Script>
			window.dataLayer = window.dataLayer || [];
			function gtag () { dataLayer.push(arguments) }
			
			gtag('js', new Date());
			gtag('config', 'UA-88656260-4');
		</Script>

		<Script Type = "text/javascript">
			if (location.hostname !== "localhost" && location.protocol === "http:") location.protocol = "https:";
		</Script>

		<Link Rel = "StyleSheet" Href = "https://fonts.googleapis.com/icon?family=Roboto" />
		<Link Rel = "StyleSheet" Href = "https://fonts.googleapis.com/icon?family=Material+Icons" />
		<Link Rel = "StyleSheet" Href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" />
		<Script Src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></Script>

		<Script Src = "lib/CookieStore.js"></Script>
		<Script Src = "lib/Locale.js"></Script>
		<Script Src = "lib/Logger.js"></Script>
		<Script Src = "main.js" Defer></Script>
		<Link Rel = "StyleSheet" Href = "main.css" />
	</Head>

	<Body>
		<Header Class = "navbar-fixed">
			<Nav>
				<Div Class = "nav-wrapper">
					<Span Class = "brand-logo center">MastodonRater</Span>

					<A Href = "#" Class = "sidenav-trigger" Data-Target = "sidebar"><I Class = "material-icons">menu</I></A>
					<UL Class = "right hide-on-med-and-down">
						<Li>
							<A Class = "dropdown-target" Data-Target = "header-languages">
								<Span Locale-Message = "header.languages">Languages</Span>
								<I Class = "material-icons right">arrow_drop_down</I>
							</A>
						</Li>

						<UL ID = "header-languages" Class = "dropdown-content">
							<Li><A Lang = "ja">日本語</A></Li>
							<Li><A Lang = "en">English</A></Li>
						</UL>

						<Li ID = "header-signOut" Class = "disabled">
							<A>
								<Span Locale-Message = "common.signOut">Sign Out</Span>
								<I Class = "material-icons right">person</I>
							</A>
						</Li>
					</UL>
				</Div>
			</Nav>
		</Header>

		<UL ID = "sidebar" Class = "sidenav">
			<Li>
				<A Class = "dropdown-target" Data-Target = "sidebar-languages">
					<Span Locale-Message = "header.languages">Languages</Span>
					<I Class = "material-icons right">arrow_drop_down</I>
				</A>
			</Li>
			
			<UL ID = "sidebar-languages" Class = "dropdown-content">
				<Li><A Lang = "ja">日本語</A></Li>
				<Li><A Lang = "en">English</A></Li>
			</UL>
			
			<Li ID = "sidebar-signOut" Class = "disabled">
				<A>
					<Span Locale-Message = "common.signOut">Sign Out</Span>
					<I Class = "material-icons right">person</I>
				</A>
			</Li>
		</UL>

		<Main>
			<Section ID = "signInPanel" Class = "disabled">
				<Article Locale-Message = "signInPanel.details">
					Please sign in with your Mastodon account before using MastodonRater.
				</Article>

				<Div Class = "input-field">
					<Input ID = "signInPanel-instance" Class = "validate" Type = "URL" Value = "" />
					<Label For = "signInPanel-instance" Locale-Message = "signInPanel.instance">Your instance(ex: <A Href = 'https://itabashi.0j0.jp' Target = '_blank'>https://itabashi.0j0.jp</A>)</Label>
				</Div>

				<Button ID = "signInPanel-signIn" Class = "btn waves-effect waves-light" Locale-Message = "common.signIn">Sign In</Button>
			</Section>

			<Section ID = "controlPanel" Class = "disabled">
				<Article Locale-Message = "controlPanel.details">
					Welcome to MastodonRater!<Br />
					Feel free to choose any services, please.
				</Article>

				<Article>
					(<Locale Message = "controlPanel.currentInstance">Current instance</Locale>: <A ID = "controlPanel-currentInstance" Target = "_blank"></A>)
				</Article>

				<UL ID = "feature" Class = "collection">
					<Li Class = "collection-header">
						<Div Class = "input-field">
							<Select ID = "controlPanel-privacy">
								<Option Name = "privacy.public" Value = "public" Locale-Message = "controlPanel.privacy.public">Public</Option>
								<Option Name = "privacy.unlisted" Value = "unlisted" Locale-Message = "controlPanel.privacy.unlisted">Unlisted</Option>
								<Option Name = "privacy.private" Value = "private" Locale-Message = "controlPanel.privacy.private">Private</Option>
								<Option Name = "privacy.limited" Value = "limited" Locale-Message = "controlPanel.privacy.limited">Limited(Only for implemented instances)</Option>
								<Option Name = "privacy.direct" Value = "direct" Locale-Message = "controlPanel.privacy.direct">Direct</Option>
							</Select>

							<Label Locale-Message = "controlPanel.privacy">Privacy</Label>
						</Div>
					</Li>

					<Li ID = "feature-tootRater" Class = "collection-item avatar">
						<I Class = "material-icons circle">chat</I>

						<Span Class = "title">Toot Rater</Span>
						<P Locale-Message = "controlPanel.tootRater">
							Toot the proportion of your statuses to whole
						</P>

						<A Class = "secondary-content" Href = "#"><I Class = "material-icons">launch</I></A>
						<Span Class = "secondary-content badge new disabled" Data-Badge-Caption = "" Locale-Message = "common.running">Now Running...</Span>
					</Li>

					<Li ID = "feature-tpd" Class = "collection-item avatar">
						<I Class = "material-icons circle">subject</I>

						<Span Class = "title">TPD(Toots Per Day)</Span>
						<P Locale-Message = "controlPanel.tpd">
							Toot an average of number of your statuses
						</P>

						<A Class = "secondary-content" Href = "#"><I Class = "material-icons">launch</I></A>
						<Span Class = "secondary-content badge new disabled" Data-Badge-Caption = "" Locale-Message = "common.running">Now Running...</Span>
					</Li>

					<Li ID = "feature-relevanceAnalyzer" Class = "collection-item avatar">
						<I Class = "material-icons circle">people</I>

						<Span Class = "title">Relevance Analyzer</Span>
						<P Locale-Message = "controlPanel.relevanceAnalyzer">
							Toot relevance with your followers
						</P>

						<A Class = "secondary-content modal-trigger" Href = "#" Data-Target = "feature-relevanceAnalyzer-rangeConfirmer"><I Class = "material-icons">launch</I></A>
						<Span Class = "secondary-content badge new disabled" Data-Badge-Caption = "" Locale-Message = "common.running">Now Running...</Span>

						<Div ID = "feature-relevanceAnalyzer-rangeConfirmer" Class = "modal modal-fixed-footer">
							<Div Class = "modal-content">
								<P Locale-Message = "relevanceAnalyzer.rangeConfirmer.details">
									Please select date range, and it will be used to get information.<Br />
									<Span Class = 'red-text'>(* The longer range, the longer time you'll spend!)</Span><Br />
									<Span Class = 'red-text'>(* This feature may cause exceeding an API rate limit because of using one many times for analyzing.)</Span>
								</P>
								
								<Div Class = "input-field">
									<Select ID = "feature-relevanceAnalyzer-rangeConfirmer-range">
										<Option Value = "0" Locale-Message = "relevanceAnalyzer.rangeConfirmer.range0" Selected>Only today</Option>
										<Option Value = "1" Locale-Message = "relevanceAnalyzer.rangeConfirmer.range1">Between today and yesterday</Option>
										<Option Value = "2" Locale-Message = "relevanceAnalyzer.rangeConfirmer.range2">Between today to 2 days before</Option>
										<Option Value = "3" Locale-Message = "relevanceAnalyzer.rangeConfirmer.range3">Between today to 3 days before</Option>
										<Option Value = "4" Locale-Message = "relevanceAnalyzer.rangeConfirmer.range4">Between today to 4 days before</Option>
										<Option Value = "5" Locale-Message = "relevanceAnalyzer.rangeConfirmer.range5">Between today to 5 days before</Option>
										<Option Value = "6" Locale-Message = "relevanceAnalyzer.rangeConfirmer.range6">Between today to 6 days before</Option>
										<Option Value = "7" Locale-Message = "relevanceAnalyzer.rangeConfirmer.range7">Between today to last week</Option>
									</Select>

									<Label Locale-Message = "relevanceAnalyzer.rangeConfirmer.range">Date range</Label>
								</Div>

								<Div>
									<Label>
										<Input ID = "feature-relevanceAnalyzer-rangeConfirmer-skipConfirm" Type = "Checkbox" />
										<Span Locale-Message = "relevanceAnalyzer.rangeConfirmer.skipConfirm">Will you skip over confirming a ranking before tooting?</Span>
									</Label>
								</Div>
							</Div>

							<Div Class = "modal-footer">
								<A Class = "btn-flat modal-close waves-effect waves-red" Locale-Message = "common.cancel">Cancel</A>
								<A ID = "feature-relevanceAnalyzer-rangeConfirmer-launch" Class = "btn-flat modal-action modal-close waves-effect waves-green" Locale-Message = "common.launch">Launch</A>
							</Div>
						</Div>

						<Div ID = "feature-relevanceAnalyzer-rankingConfirmer" Class = "modal modal-fixed-footer">
							<Div Class = "modal-content">
								<H5 Class = "blue-text" Locale-Message = "relevanceAnalyzer.rankingConfirmer.title">Confirm ranking | Relevance Analyzer</H2>
								<P Locale-Message = "relevanceAnalyzer.rankingConfirmer.details">
									Please accept to toot this ranking.
								</P>
								
								<Div ID = "feature-relevanceAnalyzer-rankingConfirmer-ranking">

								</Div>
							</Div>

							<Div Class = "modal-footer">
								<A Class = "btn-flat modal-close waves-effect waves-red" Locale-Message = "common.cancel">Cancel</A>
								<A ID = "feature-relevanceAnalyzer-rankingConfirmer-launch" Class = "btn-flat modal-action modal-close waves-effect waves-green" Locale-Message = "common.launch">Launch</A>
							</Div>
						</Div>
					</Li>
				</UL>
			</Section>

			<Section ID = "contactPanel">
				<Article Locale-Message = "contactPanel.details">
					If you have any questions or anything, feel free to contact <A Href = 'https://itabashi.0j0.jp/@ProgrammerGenboo' Target = '_blank'>me</A>.<Br />
					Don't you have any accounts in Mastodon? Let's contact from <A Href = 'mailto:programmergenboo@gmail.com'>e-mail</A> with you! :)
				</Article>
			</Section>
		</Main>
	</Body>
</HTML>