.collection > .collection-header {
	Padding: 1rem 1rem 0;
}



*.disabled {
	Display: None;
}

Main {
	Font-Family: Roboto;
	Line-Height: 1.75;
}

Main > Section {
	Padding: 1rem;
}

Main > Section#controlPanel #controlPanel-currentInstance {
	Text-Decoration: Underline;
}

Main > Section#controlPanel > #feature > #feature-relevanceAnalyzer #feature-relevanceAnalyzer-rankingConfirmer-ranking {
	Max-Height: 50vh;
	Padding: 1em;

	Overflow: Auto;
	White-Space: Pre-Line;
	
	Border: Thin Solid RGBA(0, 0, 0, 0.25);
}